
/* =================================== */
/*  Basic Style 
/* =================================== */

::-moz-selection {
  /* Code for Firefox */
  background-color: #8ab92d;
  color: #fff;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "gotham-rounded-light", sans-serif;
}

@media (max-width: 520px) {
  nav .container .row .suivre {
    width: 100%;
  }
  
  iframe .carte {
    width: 1040px;
  }

.notre {
    margin-right: 50px;
  }
  
  .footer-text {
    margin-left: -310px;
  }

  .featured-games .fa-chevron-left,
  .featured-games .fa-chevron-right {
    display: none;
  }

	
	
  body {
    min-width: 425px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .form-select {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .result-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
   .suivre {
    width: 100%;
	padding-left:162px;
  }
  
  .Notebook {
    margin-left: -107px;
  }
  
  .contente {
	  width: 120%;
    margin-left: -107px;
  }
  
  .notre {
    margin-left: -110px;
  }



  .result-item img,
  .result-item .item-info .row {
    width: 100%;
  }

  .copy {
    text-align: center;
  }
}

@media (min-width: 520px) {
	.carte iframe {
    width: 1000px;
	
  }
	
.suivre {
    width: 100%;
	padding-left:500px;
	margin-top:-65px;
	padding-bottom:115px;
  }
 }

@media (min-width: 1100px) {
.suivre {
    width: 100%;
	padding-left:750px;
	margin-top:-400px;
	padding-bottom:115px;
  }
  
  .carte iframe {
    
	width: 1365px;
  }
 }

@media (min-width: 768px) {
  .result-item img {
    width: 40%;
  }

  .result-item .item-info {
    width: 60%;
  }
   
   

  .custom-col-md-5 {
    max-width: 43%;
  }
}

@media (max-width: 992px) {
  .custom-flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 10px;
  }
}

@media (min-width: 992px) {
  .custom-col-lg-3 {
    max-width: 24%;
  }

  .results-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 70%;
    grid-template-columns: 30% 70%;
  }

  .custom-flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@font-face {
  font-family: "gotham-bold";
  src: url(/fonts/Gotham-Bold.woff) format("woff"), url(/fonts/Gotham-Bold.otf) format("opentype");
}

@font-face {
  font-family: "gotham-rounded-light";
  src: url(/fonts/Gotham-Rounded-Light.woff) format("woff"), url(/fonts/Gotham-Rounded-Light.otf) format("opentype");
}

@font-face {
  font-family: "helvetica-neue-light";
  src: url(/fonts/helvetica-neue-light.woff) format("woff"), url(/fonts/helvetica-neue-light.ttf) format("truetype");
}

@font-face {
  font-family: "helvetica-neue-medium";
  src: url(/fonts/Helvetica-Neue-Medium.woff) format("woff"), url(/fonts/Helvetica-Neue-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "helvetica-neue-bold";
  src: url(/fonts/Helvetica-Neue-Bold.woff) format("woff"), url(/fonts/Helvetica-Neue-Bold.ttf) format("truetype");
}

.box-shadow {
  -webkit-box-shadow: 1px 1px 8px 1px #dcdcdc;
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  border: 1px solid #cacaca;
}

#wrapper {
  width: 100%;
  overflow-x: hidden;
}

secta {
  position: relative;
  display:block;
  width: 90%;
  height: 7.53vw;
  margin: 1vh auto;
  /* overflow: hidden; */
}

.logo {
  font-family: "gotham-bold", sans-serif;
}

footer a {
  color: #888;
}

.navbar {
  background-color: #d0e0e5;
  margin-bottom : -35px;
}

.navbar button {
  margin-top: 10px;
}

.navbar .nav-link {
  font-family: "helvetica-neue-medium", sans-serif;
}

.navbar .fa-gamepad,
.navbar .fa-bars {
  color: #d35266;
}

.navbar .navbar-toggler {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.navbar a,
.navbar .navbar-toggler {
  color: #888;
}

.navbar button:focus {
  outline: none;
}

main .search-section {
  background-color: #d3526600;
}

main .search-section h1,
main .search-section h6 {
  text-align: center;
  color: white;
}

main .search-section h1 {
  font-family: "gotham-bold", sans-serif;
}

main .search-section form #console-select,
main .search-section form #category-select,
main .search-section form #search-box,
main .search-section form .search-btn {
  height: 50px;
}

main .search-section form .search-btn {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  background-color: #383838;
  color: #888;
}

main .search-section form .a-search-btn {
  text-decoration: none;
  color: #888;
}

main .categories-section,
main .featured-games h5,
main .fa-plus-square {
  color: #141414;
  text-align : center;
}

main .categories-section h5,
main .featured-games h5 {
  font-family: "helvetica-neue-bold", sans-serif;
  color: yellowgreen;
  font-weight: bold;
}

main .results-container .options-column h5 {
  margin-top: 20px;
  color: #383838;
}

main .featured-games .fa-chevron-left,
main .featured-games .fa-chevron-right {
  color: #d35266;
  border-radius: 50%;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
}

main .featured-games .item {
  border-radius: 10px;
}

main .featured-games .item h5 {
  color: #d35266;
  font-weight: bold;
  font-family: helvetica-neue-bold, sans-serif;
}

main .featured-games .item .oldprice {
  text-decoration: line-through;
}

main .featured-games .item .newprice {
  font-weight: bold;
  color: #d35266;
  font-size: 1.2em;
}

main .featured-games .item .fa-plus-square {
  color: #d35266;
}

main .categories-section {
  -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2);
  background: rgba(4, 9, 30, 0.8);
  height: 500px;
}

/*  Recent Works Section Styling */

.recent_works_container {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem 1.5rem;
  margin: auto;
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.works_heading {
 
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.3rem;
  text-align: center;
  margin-bottom: 1.8rem;
}

.indicator {
  display: block;
  width: 3rem;
  height: 4px;
  border-radius: 24px;
  background-color: #36b37e;
}

.project_section {
  display: grid;
  row-gap: 3.6rem;
  text-align:center;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
 padding-left: 15px;
}


.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  
  .single-service {
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  background-color: lightslategray;
  box-shadow: 0px 10px 30px 0px rgba(138, 185, 45, 0.2);
}

.btnnn {
  position: static;
  text-align: center;
  background-color: darkcyan;
  color: yellow;
  border: none;
  border-radius: 96px;
  padding: 1rem 1.5rem;
  cursor: pointer;
   margin: auto;
 
  
}

main .categories-section .items-container .item {
  background-color: white;
}

main .categories-section .items-container .item h5 {
  color: #d35266;
  font-weight: bold;
  min-height: 42px;
  font-family: "helvetica-neue-bold", sans-serif;
}

main .categories-section .items-container .item .oldprice {
  text-decoration: line-through;
}

main .categories-section .items-container .item .newprice {
  font-weight: bold;
  color: #d35266;
  font-size: 1.2em;
}

main .categories-section .items-container .item .fa-plus-square {
  color: #d35266;
}

footer {
  -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2);
}

footer .list-name {
  border-bottom: 2px solid #d35266;
  margin-bottom: 10px;
}

footer li a strong {
  color: #d35266;
}

footer li a:hover {
  text-decoration: none;
}

footer p,
footer span {
  color: #0fdb57;
}

footer p {
  text-align: justify;
}

footer .form-select {
  min-width: 100px;
}

footer .selection-name {
  color: #d35266;
  font-weight: bold;
  font-size: 0.8em;
  margin: 0 10px 0 10px;
  width: 150px;
}

footer .bottom-footer {
  border-top: 1px solid gainsboro;
}

footer .bottom-footer .copyrights {
  color: #888;
}

.results-container .options-column .custom-form-check .form-check-label {
  margin-top: 10px;
  color: #888;
  font-size: 1.2em;
}

.results-container .results-column {
  border-left: #cacaca 1px solid;
  border-right: #cacaca 1px solid;
}

.results-container .results-column .search-results {
  color: #888;
  border-bottom: #cacaca 1px solid;
}

.results-container .results-column .result-item {
  background-color: white;
}

.results-container .results-column .result-item .item-title {
  margin-top: 10px;
}

.results-container .results-column .result-item a {
  text-decoration: none;
}

.results-container .results-column .result-item h3 {
  color: #d35266;
  font-family: "helvetica-neue-medium", sans-serif;
}

.results-container .results-column .result-item .game-category span {
  color: white;
  padding: 5px 5px;
  background-color: #888;
}

.results-container .results-column .result-item .game-price {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  border: 1px solid white;
  background-color: #d35266;
  padding: 5px 20px;
}
